@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Mono", serif;
    font-size: 14px;
    background-color: cadetblue;
}
.container {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    margin: 0 auto;
    align-items: flex-start;
    border: 10px solid #935757;
}
.container > div:nth-child(1) {
    flex: 1;
    padding: 15px;
}
.container > div:nth-child(2) {
    flex: 1;
    padding: 15px;
}
pre {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
}
.success {
    color: green;
}
.error {
    color: red;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}
input {
    padding: 5px;
    font-size: 14px;
    width: 100px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.status {
    margin: 15px 0;
    text-align: center;
}
img {
    width: 50px;
    height: auto;
}

/* switch */
.language-switcher {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, sans-serif;
}
select {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.flag {
    width: 20px;
    height: 14px;
}